
<form [formGroup]="loginForm" (submit)="login()">
    <mat-card class="mat-elevation-z10">
        <mat-card-content>
            <div class="container"
                fxLayout="row"
                fxLayout.xs="column"
                fxLayoutAlign="start stretch"
                fxLayoutGap="30px"
                fxFlex="65%"
                fxFlex.xs="50%"
                fxFlex.md="40%">
                <div fxFlex class="item item-1">
                    <mat-card class="card-image, mat-elevation-z10">
                        <img mat-card-image src="assets/img/katie-moum-258412.jpg">
                    </mat-card>
                </div>
                <div class="container"
                    fxLayout="column"
                    fxLayout.xs="column"
                    fxLayoutAlign="center"
                    fxLayoutGap="10px"
                    fxFlex="60%">
                    <div class="item item-2">
                        <mat-input-container>
                            <input matInput name="email" type="email" id="email" id="email"
                                [(ngModel)]="user.email" placeholder="E-Mail"
                                [formControl]="loginForm.controls['emailFormControl']" required>
                            <mat-error *ngIf="loginForm.controls['emailFormControl'].hasError('required')">
                                Bitte geben Sie Ihre E-Mail Adresse ein
                            </mat-error>
                            <mat-error *ngIf="loginForm.controls['emailFormControl'].hasError('pattern')">
                                Bitte geben Sie eine gültige E-Mail Adresse ein
                            </mat-error>
                        </mat-input-container>
                    </div>
                    <div class="item item-3">
                        <mat-input-container>
                            <input matInput name="password" type="password" id="password" id="password"
                                [(ngModel)]="user.password" placeholder="Passwort"
                                [formControl]="loginForm.controls['passwdFormControl']" required>
                            <mat-error *ngIf="loginForm.controls['passwdFormControl'].hasError('required')">
                                Bitte geben Sie Ihr Passwort ein
                            </mat-error>
                        </mat-input-container>
                    </div>
                    <div class="item item-4">
                        <button mat-raised-button color="accent" [disabled]="!loginForm.valid">Login</button>
                    </div>
                    <div class="item item-5">
                        <mat-error *ngIf="errorMsg">
                            <mat-icon class="mat-icon-30">warning</mat-icon> {{ errorMsg }}
                        </mat-error>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>



