.mat-tab-nav-bar {
    border-bottom: 0px solid rgba(0,0,0,.12);
}

.mat-tab-link {
    line-height: 0px;
    height: 36px;
    min-width: 0px;
}

md-toolbar {
  /* margin-bottom: 10px; */
}

.mat-card {
    padding: 10px;
}

.fill-remaining {
    flex: 1 1 auto;
  }

/* Icons */
.mat-icon-30 {
    font-size: 30px;
    padding-right: 10px;
}

