
<md-card class="mat-elevation-z10">
  <md-card-content>
    <div class="container"
                fxLayout="row"
                fxLayout.xs="column"
                fxLayoutAlign="start stretch"
                fxFlex="50%"
                fxFlex.xs="20%"
                fxFlex.md="40%"
                fxLayoutGap="50px"
                fxLayoutGap.xs="20px">
      <div fxFlex class="item item-1" *ngIf="user.avatar">
            <img md-card-image src= "{{ avatarUrl }} ">
      </div>
      <div class="container"
                  fxLayout="column"
                  fxLayoutAlign="center"
                  fxLayoutGap="20px"
                  fxLayoutGap.xs="10px"
                  fxFlex="65%">
        <div fxFlex class="item">
          <md-card-content>E-Mail</md-card-content>
          <md-card-title>{{ user.email }}</md-card-title>
        </div>
        <div fxFlex class="item" *ngIf="user.firstName || user.lastName">
          <md-card-content>Name</md-card-content>
          <md-card-title>{{ user.firstName }} {{ user.lastName }}</md-card-title>
        </div>
        <div fxFlex class="item" *ngIf="user.comment">
          <md-card-content>Statement</md-card-content>
          <md-card-title>{{ user.comment }}</md-card-title>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>

