
<mat-card class="mat-elevation-z10">
  <mat-card-content>
    <div class="container"
                fxLayout="row"
                fxLayout.xs="column"
                fxLayoutAlign="start stretch"
                fxFlex="50%"
                fxFlex.xs="20%"
                fxFlex.md="40%"
                fxLayoutGap="50px"
                fxLayoutGap.xs="20px">
      <div fxFlex class="item item-1" *ngIf="user.avatar">
            <img mat-card-image src= "{{ avatarUrl }} ">
      </div>
      <div class="container"
                  fxLayout="column"
                  fxLayoutAlign="center"
                  fxLayoutGap="20px"
                  fxLayoutGap.xs="10px"
                  fxFlex="65%">
        <div fxFlex class="item">
          <mat-card-content>E-Mail</mat-card-content>
          <mat-card-title>{{ user.email }}</mat-card-title>
        </div>
        <div fxFlex class="item" *ngIf="user.firstName || user.lastName">
          <mat-card-content>Name</mat-card-content>
          <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
        </div>
        <div fxFlex class="item" *ngIf="user.comment">
          <mat-card-content>Statement</mat-card-content>
          <mat-card-title>{{ user.comment }}</mat-card-title>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

