
<section class="flex-container" fxLayout="column" fxLayoutAlign="start stretch">
     <md-card>
      <md-card-title>Email</md-card-title>
      <md-card-content>{{ user.email }}</md-card-content>
    </md-card>
    <md-card *ngIf="user.firstName">
      <md-card-title>Vorname</md-card-title>
      <md-card-content>{{ user.firstName }}</md-card-content>
    </md-card>
    <md-card *ngIf="user.lastName">
      <md-card-title>Nachname</md-card-title>
      <md-card-content>{{ user.lastName }}</md-card-content>
    </md-card>
    <md-card *ngIf="user.comment">
      <md-card-content>{{ user.comment }}</md-card-content>
    </md-card>
  </section>
